<header class="navbar navbar-fixed-top fb-color">
  <div class="container">
    <%= link_to "facebook", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li id="header-link-color"><%= link_to "Home", '#' %></li>
        <li id="header-link-color"><%= link_to "Help", '#' %></li>
        <li id="header-link-color"><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
